@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-background text-brand-black antialiased;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
